* {
  padding: 0;
  margin: 0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  @include flex-column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%; //fix iOS first loading with bigger fonts
}

.text-center {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px 5px 0 5px;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@mixin task-priority($color)  {
  border-left-style: solid;
  border-left-color: $color;
  border-left-width: 5px;

}
.task-priority--1 {
  @include task-priority(#D50000);
}
.task-priority-0 {
  @include task-priority(#FFD600);
}
.task-priority-1 {
  @include task-priority(#DD2C00);
}
.task-priority-2 {
  @include task-priority(#455A64);
}
.task-priority-3 {
  @include task-priority(#00C853);
}
.task-priority-4 {
  @include task-priority(#33691E);
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-action {
  margin: 5px;
}
.task-done  {
  text-decoration: line-through;
}