* {
  padding: 0;
  margin: 0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
  @include flex-column;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%; //fix iOS first loading with bigger fonts
}

.text-center {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px 5px 0 5px;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-action {
  margin: 5px;
}